<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PUSHER_KEY</key>
	<string>425d61c799422bd88ad5</string>
	<key>APP_STORE_URL</key>
	<string>https://itunes.apple.com/us/app/jumbotron-instant-sport-scores/id935920546?mt=8</string>
	<key>MIXPANEL_TOKEN</key>
	<string>0a20f23d1a2a31417835d40e71e5409f</string>
	<key>PARSE_CLIENT_KEY</key>
	<string>OTc6saTaTgankg00Fq2gRX40rXnTe9puIolKC0Ev</string>
	<key>PARSE_API_KEY</key>
	<string>n9TiEXDlzK7KZAUm2mJL8Do3F2aGPMN599KNc9Km</string>
</dict>
</plist>
